@media print{
   div.saltopagina{ 
      page-break-before:always;
   }

   div.prepage{
 	page-break-after: always

   }

   div.pad{
   		padding-bottom: 100px;
   }

   .green-margin{
	color:#6BBD44 !important; 
	margin:0px;
	}
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	width:auto;
}

/*Estilo del header de la tabla*/
th {
	width: 130px;
	text-align: center;
	border-bottom: 1px solid;
	border-top: 1px solid;
}


#wrapper {
	min-height:100%;
	width:auto;
	position:relative;
}
#content {
	padding:10px;
	padding-bottom:50px;   /* Height of the footer element */
}

/*Establece propiedades del footer*/
footer 
{
	width: 99%;
	position:absolute;
	display:block;
	bottom:0;
}

/* Centra el texto de footer de copyright */
.copyright
{
	text-align: center;
}

/* Textarea que no cambian de tamaño */
textarea 
{
	resize:none;
}

/* Sirve para los mensajes de error de validaciones de codeigniter*/
.error
{
	color: #ce2d2d;
}

/*Logo que va en la pagina de login para dar formato de espaciado*/
.logo
{
	text-align:center;
	margin-top:50px;
	margin-bottom: 100px;
}

.modal-content
{
	margin-top:20%;
}

.modal-body
{
	padding:26px !important;
}

.tab-content
{
	padding-top: 30px;
	padding-left: 10px;
}

.panel-header
{
	background-color: #F1F1F1;	
}

.nav-tabs > li > a:hover 
{
    border-color: transparent !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > .dropdown.active.open > a:hover
{
    border-color: #6BBD44 !important;
	background: none repeat scroll 0% 0% #F1F1F1 !important;
}

.input-group
{
	width: 100%;
}

.modal-content
{
	border: 0px solid rgba(0, 0, 0, 0.5) !important;	
}

.hasDatepicker
{
	height: 31px !important;
	font-size: 18px !important;
}

.ui-datepicker .ui-widget-header
{
	background: none repeat scroll 0% 0% #6BBD44 !important;
}

#datepicker {z-index: 1151 !important;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #6BBD44 !important;
}

.nav-pills > li > a {
	border-radius: 0px !important;
}

/*Estilo de las pestañas para ordenes nuevas*/
.order-navs {
	border-bottom: 1px solid;
}

.breadcrumb {
  border-top: 0px;
}

#ui-datepicker-div {
	z-index: 10000 !important;
}

.oli {
	width: 89% !important;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.blu {
	background-color: transparent;
	height: 500px;
}



.gray {
	background-color: slategrey;
	height: auto;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.vlac {
	background-color: navajowhite;
	height: 100%
}

.item{
    background: #333;    
    text-align: center;
    height: auto !important;
}

.carousel{
    margin-top: 0px;
    height: auto;
}

.carousel-inner{
	height: auto;
}

.caru-img {
	height: auto !important;
	width: 100%;

}

.fill{
	width:100%;
	height:auto;
	background-position:center;
	background-size:cover;
}

.img-previ{
	width: 400px;
	height: 240px;
}

.message-heading{
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
  	background-color: #6BBD44;
}

.message-title{
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	color: #fff;
}

.message-body{
	padding: 15px;
	background-color: #D0E3CA;
	height: 180px;
}

.pad{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.see-more{
	float: right;
	margin-top: 50px;
	color: blue;
}

.btn.btn-pas,
.btn.btn-pas:focus {
  background: rgba(255, 0, 0, 0.8);
  border: 1px solid rgba(255, 0, 0, 0.8);
  color:#fff;
}
.btn.btn-pas:hover {
  background: red;
  border: 1px solid red;
  color: #fff;
}

.input-group-lg > .form-control{
	height: 31px !important;
	font-size: 18px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.clear{
	height: 10px;
}

.inicio{
	height: 52px;
}

ul li{
 	list-style-type: none;
 }

.square:before {
  color:#ed0000;
  content:"\25A0"; 
  font-size:20px; 
  position:relative;
  right: 5%;
}

.square-thumb {
	width: 150px !important;
	height: 150px !important;
}

/*slider colaboradores*/
table.contenido img {
	width: 400px;
}
div.cat {
	width: 100%;
}
button.glyphicon.glyphicon-arrow-right {
	float: right;
}
div.texto {
	text-align: justify;
}
div#text1 {
	font-size: 18px;
	
}
div#text2 {
	font-size: 20px;

}
div#text3 {
	font-size: 16px;
}

.pubcol1,.aligncenter{
	text-align: center;
}

.center-block {
	float: center!important;
}
.alignright{
	text-align: right;
}
textarea {
	width: 70%;
	height: 100px;
}

/*----------css resoluciones especificas--------------*/

@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
.nameclient{
	left: 0px!important;
	}
  
.dropdown-menu{
	margin-top: 45px !important;
	}

}

a.btn.btn-success {
	margin: 10px!important;
}

/*flecha publicidad*/
.flecha-publicidad{

	background: #6BBD44;
	color: white;
}

/*image responsive*/
 @media (min-width: 1224px) {
 	.caru-img {
 		min-height: 240px;
 		max-height: 240px;
	
	}

}
 @media (min-width: 900px) and (max-width: 1223px)  {
 	.caru-img {
 		min-height: 240px;
 		max-height: 240px;
	
	}

}
 @media (max-width: 889px) {
 	.caru-img {
 		min-height: 500px;
 		max-height: 500px;
	
	}

}
