.copyright
{
	text-align : center;
	color: white;
}

.oficinas
{
	color: white;
}

.clear
{
	margin-top: 20px;
	clear:both;
}

.logo
{
	text-align:center;
	margin-top:50px;
	margin-bottom: 100px;
}

.row
{
	max-width: 100%;
}