/*All site
---------------------------------------------------*/
html, body
{
    height: 100%;
}

/*Header bar 
---------------------------------------------------*/
.logo-header
{
	width:250px;
	height: 100px;
	margin-top: 15%;
}

.header-elements
{
	display: block;
	float: left;
	list-style: none;
	padding: 0px;
	margin-top: 10px;
}

/* Container
---------------------------------------------------*/
.row
{
	width: 100%;
}

/* Footer
-------------------------------------------------- */
footer {
	width: 100%;
	background-color: #6BBD44;
	display: block;
	position: absolute;
	bottom: 0;
}

.copyright
{
	text-align : center;
	color: white;
}

.oficinas
{
  	text-align: center;
	color: white;
}

.clear
{
	margin-top: 20px;
	clear:both;
}

.logo
{
	text-align:center;
	margin-top:50px;
	margin-bottom: 100px;
}